body {
  font-family: Helvetica, sans;
  max-width: 720px;
  margin: 0 auto;
  background: #333;
}
h1 {
  font-size: 1.3em;
  text-align: center;
  color: #d8d8d8;
  margin: 0 0 40px 0;
}
h2 {
  color: #555;
  margin: 0 0 0 5px;
  font-size: 1.2em;
}
h2 ~ p {
  margin: 5px 5px 10px;
}
.logo {
  color: #fff;
  margin: 20px 0 0 0;
  font: 7em "Gochi Hand", sans;
  text-align: center;
  text-shadow: 1px 0 0 #fff;
}
.main {
  background: #f8f8f8;
  margin: 20px 10px 15px;
  padding: 10px 20px;
  border: 4px solid #aaa;
  -webkit-border-radius: 10px 10px 4px 4px;
  -moz-border-radius: 10px 10px 4px 4px;
  -o-border-radius: 10px 10px 4px 4px;
  -ms-border-radius: 10px 10px 4px 4px;
  border-radius: 10px 10px 4px 4px;
  -webkit-box-shadow: #000 0 2px 8px;
  -moz-box-shadow: #000 0 2px 8px;
  -o-box-shadow: #000 0 2px 8px;
  -ms-box-shadow: #000 0 2px 8px;
  box-shadow: #000 0 2px 8px;
}
pre.prettyprint {
  border: 0;
  background: #e8e8e8;
  padding: 10px 9px 12px 15px;
  margin: 5px 0 15px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
}
a.btn-run {
  display: block;
  float: right;
  font-weight: bold;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  background: #ccc;
  border: 1px solid #bbb;
  padding: 3px 7px 4px;
  margin: 7px;
  color: #333;
  text-decoration: none;
}
a.btn-run:hover {
  background: #d8d8d8;
}
#bedazzle_stage {
  border: 1px solid #ccc;
  padding: 10px;
}
.box {
  background: #f00;
  width: 100px;
  height: 100px;
}
