!!! 5
html
    head
        title #{Document.title}
        
        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Gochi+Hand')
        link(rel='stylesheet', href='css/prettify.css')
        link(rel='stylesheet', href='css/main.css')
    body
        div.logo Bedazzle
    
        h1= Document.title
        
        div.main
            !{content}
            
        a.forkme(href='https://github.com/DamonOehlman/bedazzle', title='Fork me on Github')
        
        script(src='js/jquery-1.6.4.min.js')
        script(src='js/classtweak.js')
        script(src='js/prettify.js')
        script(src='https://raw.github.com/DamonOehlman/bedazzle/master/bedazzle.js')
        script(src='js/site.js')